@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.crypto-wrapper {
  background-color: white;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px #333;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 80em;
  letter-spacing: 1px;
}
.crypto-title {
  letter-spacing: 2px;
  margin-left: 0.5em;
  font-family: 'Mansalva', cursive;
}
.crypto-subtitle {
  color: gray;
  font-size: .75em;
  margin-left: .5em;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: arial;
}
.search-bar {
  margin: 1.5em 0 2em 1.5em;
  padding: 10px 20px 10px 20px;
  width: 89.5em;
  border: 1px solid gray;
  border-radius: 30px;
}
.crypto-table {
  padding: 0 1em 1em 1em;
  text-align: center;
  margin: 0 0em;
  border-spacing: 10px 2px;
}
.crypto-table td {
  padding: 10px;
  margin: 20px;
  width: 10em;
}
.crypto-icon {
  padding-top: 10px;
}
.tb-header {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: linear-gradient(#c8f7d3, #baf7c8);
  border-radius: 30px 0px;
  margin: 10px;
}
.ill {
  height: 6em;
  float: left;
}
.show-more {
  width: 100%;
  height: 3em;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 2em;
  font-family: 'Mansalva', cursive;
  
  transition: all 0.5s ease-in-out;
}
.show-more:hover {
  color: #84bd91;
  
  transition: all 0.5s ease-in-out;
}
.show-all {
  float: right;
  margin-right: 15em;
  margin: 1em;
  background-color: white;
  border: none;
  font-size: .75em;
  font-family: 'Mansalva', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.show-all:hover {
  color: #84bd91;
  cursor: pointer;
  
  transition: all 0.5s ease-in-out;
}